*.bak
*.bak.*
*.ckpt
*.old
*.pyc
.DS_Store
.ipynb_checkpoints
.vscode/
checkpoint
logs/*
tf_logs/*
images/**/*.png
images/**/*.dot
my_*

# Ignore Data files
*.tar.gz
*.feat
*.txt
*.data
.idea/
*.pth
*-ubyte
*.pt
*.png
!docs/**/*.png
imdb
data
.jekyll-cache
_site
.vscode

